# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/

# Git directory
.git/

.idea/

# Environment variables file
.env
